---
// Component Imports
import Container from '../components/container.astro';
import Link from '../components/ui/link.astro';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar';
import Form from '../components/Form';
import Footer from '../components/Footer.astro';

const menuitems = [
  {
    title: 'Features',
    path: '#',
    children: [
      { title: 'Action', path: '/' },
      { title: 'Another action', path: '#' },
      { title: 'Dropdown Submenu', path: '#' },
      { title: '404 Page', path: '/404' },
    ],
  },
  {
    title: 'Pricing',
    path: '/pricing',
  },
  {
    title: 'About',
    path: '/about',
  },
  {
    title: 'Blog',
    path: '/blog',
  },
  {
    title: 'Contact',
    path: '/contact',
  },
];
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Add Profile</title>
  </head>

  <body>
    <Container>
      <!-- <header class='flex flex-col lg:flex-row justify-between items-center my-6'></header> -->
      <div class='flow-root'>
        <div class='float-left'><Logo /></div>
        <div class='float-right'><Navbar /></div>
      </div>

      <div>
        <Form client:load />
        <Footer />
      </div>
    </Container>
  </body>
</html>
