<div class='hero'>
  <div class='hero-content flex-col lg:flex-row-reverse'>
    <img src='/img/hero-img.png' class='max-w-xl' />
    <div>
      <h1 class='text-6xl w-2/3 font-bold leading-tight'>Manage your own skillset.</h1>
      <p class='text-lg py-6 .w-6/12'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum eget nulla et
        pellentesque. Aenean nec pharetra leo. Nunc ullamcorper et mauris sed facilisis. Duis
        egestas, urna id scelerisque sodales, metus leo imperdiet dolor, non rutrum urna est a
        dolor. Pellentesque ac rutrum ipsum, vel egestas nisi.
      </p>
    </div>
  </div>
</div>
